@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@700&family=Caveat+Brush&family=Heebo:wght@681&family=Montserrat:ital,wght@1,200&family=Oxygen&family=Poppins:wght@300&family=Praise&family=Share:ital,wght@1,400;1,700&display=swap');

#WorkingProcessMainwork-container{
    margin-top: 30px;
    width: 100%;
    background-color: var(--indigo);
    background-size: contain;
    margin-bottom: 3rem;
}
.h6{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAASBAMAAABlZ9nIAAAAGFBMVEUAAADxdzLxdzLxdzLxdzLxdzLxdzLxdzKwbUUiAAAACHRSTlMAJQghGR0UD71uIrEAAABJSURBVAjXJcjBDYAgFATRQSPn/WriVTqgBOxAS7AD+j+xCZlkDg+iwRLAdnjp8n4xHfuN/cUul0UjyVoEfNWLDjmA9fTK7j2VAcLzBK44KxdZAAAAAElFTkSuQmCC');
    width: fit-content;
    margin: 5px auto;
    color: #f38f5e;;
}
.h6 > h4{
    font-size: 1.4em;
    padding: 9px 13px;
    margin: 0;
}

.workHeadingText{
    width: fit-content;
    margin: 0px auto;
    font-size: 1.7em;
    margin-top: 0px;
    padding-top: 0px;
    color: #fff;

}
.workHeadingText > h2{
    font-size: 3rem;
    margin: 0;
    margin-top: 6px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* cards css */
.cardBody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    /* background: #161623; */
    flex-direction: row;
    /* flex-wrap: wrap; */
}
/* .work-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
} */
/* .work-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 10%);
    z-index: -1;
} */

.work-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 1200px; */
    max-width: 426px;
    flex-wrap: wrap;
    z-index: 1;
    color: #fff;
}

.work-container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5) ;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.work-container .card .content{
    padding: 20px;
    text-align: center;
    /* transform: translateY(100px);
    opacity: 0; */
    transform: translateY(0px);
    opacity: 1;
    transition: 0.5s;
}

/* .work-container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
} */
.work-container .card .content h2{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.work-container .card .content h3{
    font-size: 1.8em;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
}

.work-container .card .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.work-container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: white;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}


@media screen and (max-width: 1068px) {
    .cardBody{
        flex-direction: column;
    }
}


@media screen and (max-width: 400px) {
    .workHeadingText h2{
        font-size: 2rem;
    }
}

@media screen and (max-width: 343px) {
    .work-container{
        max-width: 273px;
    }

}