footer{
    width: 100%;
    color: #fff;
    background-color: #151b29;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 1px;
}


.social_media_links{
    width: 100%;
    height: 10vh;
    background-color: #222E80;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.icons{
    padding: 0 2rem;
    color: #fff;
}
.icons:hover{
    color: #fff;
}

@media (max-width: 500px){
    .social_text{
        display: none;
    }
}

