#apt {
    background-color: var(--indigo);
    padding: 2rem 0;
}

.outer-part-appointment .form{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    max-width: 100vh;
    padding: 1rem 0;
    padding-left: 5rem;
    margin: auto auto;
}


.heading{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 1000;
    color: white;

    font-size: 3rem;
    padding-bottom: 2rem;
}

.outer-part-appointment{
    /* background: url("../../images/bg2/dr-graphic.png") no-repeat center center fixed; */
    /* background-size: contain; */
    margin-bottom: 3rem;

}
#apt_btn{
    border-radius: 1rem;
}
@media (max-width: 723px){

    .outer-part-appointment .form{
        padding-left: 1rem;
    }

}

@media screen and (max-width:400px) {
    .heading{
        padding: 1rem 0;
        font-size: 2rem;
        color: var(--indigo);
        
    }

    .outer-part-appointment{
        padding: 0 1rem;
    }

    .form-check{
        text-align: center;
    }
}
@media screen and (max-width: 340px) {
    
    .heading{
        font-size: 2rem;
    }

    .outer-part-appointment{
        padding: 0 1rem;
    }

    .form > .form-check-inline {
        display: inline-block;
        margin-right: 0;
    }
    
    .form > .form-check {
        display: block;
        min-height: 1.6rem;
        padding-left: 0;
        margin-bottom: 0.125rem;
    }

    #femaleOption{
        margin: 0 1rem;
    }
  

}
