:root{
    --white-text-color : #F5F9F6;
    --blue-color : #3E78D8;
    --green-color : #6ab04c;
    --indigo: #888DC9;
}

.mf{
    font-family: 'Montserrat', sans-serif;
}
.pf{
    font-family: 'Poppins',sans-serif;
}

.underline{
    border-bottom: 2px solid white;
}