#review{
    /* margin: 5rem; */
    font-family: "montserrate",sans-serif;
    width: 100%;
    /* display: flex; */
}


.flex{
    display: flex;
}

.testimonials {
    
    padding: 40px 0;
    color: #fff;
    color: black ;
    
    text-align: center;
}

.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    margin-top: 5rem;
}

.border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}

.review_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.review_col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing:  border-box;
    padding: 15px;
}

.testimonial{

    min-height: 50%;
    background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 8px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 16px );
-webkit-backdrop-filter: blur( 16px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px;
   

}





.testimonials img{
    border-block-end-width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars{
    color: #FFDF00;
    margin-bottom: 20px;
}

.underline{
    color: black;
   
}

#reviewStyle{
    border: 1px solid var(--indigo);
}
.form-outline.form-white .form-control {
    color: black;
    border: 0.8px solid black;

}

.star-rating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stars{
    /* width: 300px; */
    padding: 0;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.star{
    list-style: none;
    font-size: 2rem;
    color: #aaa8a8;
    padding-left: 20px;
}


.star:first-child{
    padding: 0;
}


.orangeRev{
    color: orange;
}
.yellowRev {
    color: yellow;
}


.reviewHandleBtn{
    width: 25%;
}
.review_para::-webkit-scrollbar{
    width: 0.3vw;
    background-color: var(--indigo);
}
.review_para::-webkit-scrollbar-thumb{
    background-color: white; 
    border-radius: 5px;
    
}

.review_para {
    height: 20vh;
    overflow-y: scroll;
}

@media screen and (max-width: 800px) {
    .reviewHandleBtn{
        width: 60%;
    }
}

@media screen and (max-width: 466px) {
    .reviewHandleBtn{
        width: 80%;
    }

    .star{
        padding-left: 5px;
    }
}






@media  screen and (max-width : 1000px) {
    .review_col{
        flex: 50%;
        max-width: 50%;
    }
}
@media  screen and (max-width : 600px) {
    .review_col{
        flex: 100%;
        max-width: 80%;
    }
    .review_para{
        font-size: 1.5vh;
    }
    .name{
        font-size: 2vh;
    }
}


@media screen and (max-width: 400px) {
    
    #for_pass_container {
        padding-right: 3rem; 
        margin-left: -3rem;
        display: flex;

        justify-content: center;
    }   
    #signup_card{
        width: 112%;
    }

    #reviewStyle{

    }
    .review_para{
        font-size: 1rem;
    }

    .review_col{
        max-width: 100%;
    }
    .name{
        font-size: 1.5rem;
    }
}




@media screen and (max-width : 325px){
    .card .px-5{
        padding-right: 0;
        padding-left: 0;
    }
}